@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@*@using (Html.BeginForm()) {*@
@*Name @Html.TextBox("TextBox1", "enter name")
    <br />
    Address @Html.TextBox("TextArea", "enter address")
    <br />
    Phno @Html.TextBox("TextBox1", "enter phno")
    <br />
    program @Html.ListBox("11", new MultiSelectList(new[] { "ASP", "ASP.NETCORE" }))*@

@*@Html.Label("Name")
    Name @Html.TextBoxFor(m => m.Name, "enter name")
    <br />
    Password: @Html.PasswordFor(m => m.Id)
    <br />
    Email: @Html.LabelFor(m => m.Email)
    <br />
    Address: @Html.TextAreaFor(m => m.Dept)
    <br />*@
@*Html.Display("Id")
    <br />
    @Html.DisplayFor(m => m.Id)
    <br />
    @Html.Display("Name")
    <br />
    @Html.DisplayFor(m => m.Name)
    <br />
    @Html.Display("Email")
    <br />
    @Html.EditorFor(m => m.Email)
    <br />
    @Html.Display("Dept")
    <br />
    @Html.EditorFor(m => m.Dept)
    <br />
    <input class="btn btn_primary" type="submit" value="submit" action="EmployeeController/Create/1"/>
    }*@
<br />
<br />
<br />
<form asp-controller="Employee" asp-action="Create" method="post">
    <div class="form-row">
        <label asp-for="Name" class="col-form-label">Name</label>
        <input asp-for="Name" class="col-lg-4" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-row">
        <label asp-for="Email" class="col-form-label">Email</label>
        <input asp-for="Email" class="col-lg-4" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-row">
        <label asp-for="Dept" class="col-form-label">Dept</label>
        <select asp-for="Dept" class="col-lg-4" asp-items="Html.GetEnumSelectList<Dept>()"></select>
        <span asp-validation-for="Dept" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <input type="submit" value="Create Employee" />
    </div>

</form>
